<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.firdausy.rafly.ejumantik">

    <application
        android:allowBackup="true"
        android:icon="@drawable/jumantik"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jumantik"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".User.DetailInputanActivity"></activity>
        <activity android:name=".Activity.UserMainActivity" />
        <activity
            android:name=".Activity.AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Universal.RegistrasiActivity" />
        <activity android:name=".Universal.LoginActivity" />
        <activity android:name=".Universal.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>